body{
    background-color: black;
    font-weight: bold;
    color: white;
    
}
h1{ 
    color: red;
    font-size: large;
    text-decoration: solid;
    text-shadow: 1px 1px 1px white;
    font-family: cursive;
}
ol li:first-of-type{
    color:orange;
    size: 20px;}
a:hover{
    color: green ;
    text-decoration: underline;

}
